<#macro myLayout title="Layout">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title} | ${i18n('application.name')}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mail-baku">
    <meta name="author" content="">

    <link href="${contextPath}/assets/webjars/bootstrap/5.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="${contextPath}/assets/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="${contextPath}/assets/css/custom.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="${contextPath}/assets/img/favicon.png">
  </head>
<body>

    <div class="container">

        <#include "header.ftl.html"/>
        <main>

        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>

        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        </main>

    </div> <!-- /container -->
    <script type="text/javascript" src="${contextPath}/assets/webjars/jquery/3.7.1/jquery.js"></script>
    <script type="text/javascript" src="${contextPath}/assets/webjars/bootstrap/5.3.7/js/bootstrap.min.js"></script>
</body>
</html>
</#macro>
