<div class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="${contextPath}/">${i18n("header.title")}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="${contextPath}/">${i18n("inbox.index.title")}</a></li>
                <li class="nav-item"><a class="nav-link" href="${contextPath}/server">${i18n("server.index.title")}</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
